body {
    font-family: Georgia, 'Times New Roman', Times, serif

}

.main-photo {
    width: 600px;height:400px
}

.main-header {
    color: white ;
    background-color: black ;
    text-align: center ;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.center-align {
    text-align:center
}